<a href="https://colab.research.google.com/github/anushirahatti/covid-19-analysis/blob/master/%5Csrc%5Ccovid_19_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
cdc_data = pd.read_json("https://data.cdc.gov/resource/x8jf-txib.json")
world_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/covid_19_data.csv")
italy_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/covid19_italy_region.csv")
south_korea_case_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/case.csv")
south_korea_time_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/time.csv")

In [12]:
south_korea_time_data.head()

         date  time  test  ...  Gyeongsangbuk-do  Gyeongsangnam-do  Jeju-do
0  2020-01-20    16     1  ...                 0                 0        0
1  2020-01-21    16     1  ...                 0                 0        0
2  2020-01-22    16     4  ...                 0                 0        0
3  2020-01-23    16    22  ...                 0                 0        0
4  2020-01-24    16    27  ...                 0                 0        0

[5 rows x 24 columns]