<a href="https://colab.research.google.com/github/anushirahatti/covid-19-analysis/blob/master/src/covid_19_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ingest:**

In [0]:
import pandas as pd

In [0]:
world_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/covid_19_data.csv")
who_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/full_data.csv")

cdc_data = pd.read_json("https://data.cdc.gov/resource/x8jf-txib.json")

italy_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/covid19_italy_region.csv")
south_korea_case_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/case.csv")
south_korea_time_data = pd.read_csv("https://raw.githubusercontent.com/anushirahatti/covid-19-analysis/master/data/time.csv")

**Exploratory Data Analysis (EDA):**

In [3]:
world_data.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...         1      0          0
1    2      01/22/2020        Beijing  ...        14      0          0
2    3      01/22/2020      Chongqing  ...         6      0          0
3    4      01/22/2020         Fujian  ...         1      0          0
4    5      01/22/2020          Gansu  ...         0      0          0

[5 rows x 8 columns]

In [4]:
who_data.head()

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2020-02-25  Afghanistan        NaN         NaN            1           NaN
1  2020-02-26  Afghanistan        0.0         NaN            1           NaN
2  2020-02-27  Afghanistan        0.0         NaN            1           NaN
3  2020-02-28  Afghanistan        0.0         NaN            1           NaN
4  2020-02-29  Afghanistan        0.0         NaN            1           NaN

In [5]:
cdc_data.head()

  reporting_area  mmwr_year  ...  shiga_toxin_producing_7 shigellosis_cum_2019_flag
0   US RESIDENTS       2020  ...                      NaN                       NaN
1    NEW ENGLAND       2020  ...                      NaN                       NaN
2    CONNECTICUT       2020  ...                      NaN                       NaN
3          MAINE       2020  ...                        -                         -
4  MASSACHUSETTS       2020  ...                        -                       NaN

[5 rows x 27 columns]

**Modeling**

**Conclusion:**